[defaults]    #default settings

inventory      = inventory.ini
log_path = /var/log/ansible.log    #it should be writabel
# ask_vault_pass = True
# vault_password_file = ~/.ansible/.mysql_vault
# forks = 8
private_key_file = /home/ec2-user/.ssh/remote_server.pem
remote_user = ec2-user
